@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Questrial&display=swap');

.bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
}
.regular{
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
}